<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Progress bar</h4>
        <div class="progress m-t-20">
          <div
            class="progress-bar bg-info progress-bar-striped active"
            style="height: 7px"
            [style.width]="getProgreso1"
            role="progressbar"
          >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <app-increment
          (valorSalida)="progreso1 = $event"
          [valor]="progreso1"
        >
        </app-increment>

      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <app-increment
          btnClass="btn-info"
          (valorSalida)="progreso1 = $event"
          [valor]="progreso1"
        >
        </app-increment>

      </div>
    </div>
  </div>
</div>
