<div class="row animated fadeIn fast" *ngIf="cargando">
  <div class="col-12">
    <div role="alert" class="bg-light alert text-center">
      <h4 class="alert-heading">Cargando Extintor</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>
<!-- OTHER DESIGNS -->
<div *ngIf="!cargando" class="row fadeIn animated">
  <!-- Column -->
  <div class="col-lg-12 col-xlg-12 col-md-12">
    <div class="card">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs profile-tab" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link font-medium active"
            data-toggle="tab"
            href="#home"
            role="tab"
            aria-expanded="true"
            >Extintor</a
          >
        </li>
        <!-- <li class="nav-item">
          <a
            class="nav-link font-medium"
            data-toggle="tab"
            href="#profile"
            role="tab"
            aria-expanded="false"
            >Empresa</a
          >
        </li> -->
        <li class="nav-item">
          <a
            class="nav-link font-medium"
            data-toggle="tab"
            href="#settings"
            role="tab"
            aria-expanded="false"
            >Planilla Chequeo
          </a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <!--todo extintor -->
        <div
          class="tab-pane active"
          id="home"
          role="tabpanel"
          aria-expanded="true"
        >
          <div class="card-body">
            <div class="row">
              <div class="text-center col-md-4 col-xs-6 b-r">
                <strong>Fotos</strong>
                <br />
                <div class="skeletonPre avatar-vista">
                  <a
                    class="image-popup-no-margins"
                    [href]="extintor?.img! | imagen: 'extintores'"
                  >
                    <img [hidden]="!viewImageFoto1" (load)="loaded('foto1')"
                      [src]="extintor?.img! | imagen: 'extintores'"
                      class="animated fadeIn rounded avatar-vista-preview img-responsive"
                    />
                    <div [hidden]="viewImageFoto1" class="item avatar-vista-preview">
                      <ngx-skeleton-loader
                        count="1"
                        [theme]="{
                          'border-radius': '5px',
                          height: '130px',
                          border: '1px solid white'
                        }"
                      ></ngx-skeleton-loader>
                    </div>
                  </a>
                  <hr>
                </div>
                <div class="skeletonPre avatar-vista">
                  <a
                    class="image-popup-no-margins"
                    [href]="extintor?.img2! | imagen: 'extintores'"
                  >
                    <img [hidden]="!viewImageFoto2" (load)="loaded('foto2')"
                      [src]="extintor?.img2! | imagen: 'extintores'"
                      class="animated fadeIn  avatar-vista-preview img-responsive"
                    />
                    <div [hidden]="viewImageFoto2" class="item avatar-vista-preview">
                      <ngx-skeleton-loader
                        count="1"
                        [theme]="{
                          'border-radius': '5px',
                          height: '130px',
                          border: '1px solid white'
                        }"
                      ></ngx-skeleton-loader>
                    </div>
                  </a>
                  <!-- <hr> -->
                </div>
              </div>
              <div class="col-md-8 col-xs-6">
                <strong></strong>
                <br />
                <div class="skeletonPre">
                  <a
                    class="image-popup-no-margins"
                    [href]="extintor?.pdf! | imagen: 'extintores'"
                  >
                    <img [hidden]="!viewImagePdf" (load)="loaded('pdf')"
                      [src]="extintor?.pdf! | imagen: 'extintores'"
                      class="animated fadeIn img-responsive"
                    />
                    <div [hidden]="viewImagePdf" class="item">
                      <ngx-skeleton-loader
                        count="1"
                        [theme]="{
                          'border-radius': '5px',
                          height: '400px',
                          border: '1px solid white'
                        }"
                      ></ngx-skeleton-loader>
                    </div>

                  </a>
                </div>
                <!--? end content -->
                <div *ngIf="noMostrar" class="accordion" id="accordionExample">
                  <!-- ?Init acordion item -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Identificacion
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <!--? -->
                        <div class="row">
                          <div class="col-md-4">
                            <span>
                              <strong>
                                Nro Serie:
                              </strong>
                              <div class="spaceB"
                                [innerHtml]="extintor?.numeroSerie === undefined ?
                                'N/A' : extintor?.numeroSerie"
                              >
                              </div>
                            </span>
                          </div>
                          <div class="col-md-4">
                            <span>
                              <strong>
                                Tipo:
                              </strong>
                              <div
                                [innerHtml]="extintor?.agenteExtintor === undefined ?
                                'N/A' : extintor?.agenteExtintor"
                              >
                              </div>
                            </span>
                          </div>
                          <div class="col-md-4">
                            <span>
                              <strong>
                                Capacidad:
                              </strong>
                              <div
                                [innerHtml]="extintor?.capacidad === undefined ?
                                'N/A' : extintor?.capacidad"
                              >
                              </div>
                            </span>
                          </div>
                          <!-- ?end row -->
                        </div>
                        <div class="row my-2">
                          <div class="col-md-4">
                            <span>
                              <strong>
                                Marca:
                              </strong>
                              <div
                                [innerHtml]="extintor?.marca === undefined ?
                                'N/A' : extintor?.marca"
                                >
                              </div>
                            </span>
                          </div>
                          <div class="col-md-4">
                            <span>
                              <strong>
                                Año Fab:
                              </strong>
                              <div
                                [innerHtml]="extintor?.fechaFabricacion === undefined ?
                                'N/A' : extintor?.fechaFabricacion"
                                >
                              </div>
                            </span>
                          </div>
                          <div class="col-md-4">
                            <span>
                              <strong>
                                Vto. Carga:
                              </strong>
                              <div
                                [innerHtml]="extintor?.proxRecarga === undefined ?
                                'N/A' : extintor?.proxRecarga"
                                >
                              </div>
                            </span>
                          </div>
                          <!-- ?end row -->
                        </div>
                        <div class="row">
                          <div class="col">
                            <span>
                              <strong>
                                Vto Ph:
                              </strong>
                              <div
                                [innerHtml]="extintor?.vtoPh === undefined ?
                                'N/A' : extintor?.vtoPh"
                                >
                              </div>
                            </span>
                          </div>
                          <!-- ?end row -->
                        </div>
                        <!-- ? -->
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Agente Extintor
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <!-- ? -->
                        <div class="row my-2">
                          <div class="col-md-4">
                            <span>
                              <strong>
                                Reposicion:
                              </strong>
                              <div
                                [innerHtml]="extintor?.reposiciones === undefined ?
                                'N/A' : 'Si'"
                                >
                              </div>
                            </span>
                          </div>
                          <div class="col-md-4">
                            <span>
                              <strong>
                                Cambio:
                              </strong>
                              <div
                                [innerHtml]="extintor?.cambio === undefined ?
                                'N/A' : 'Si'"
                                >
                              </div>
                            </span>
                          </div>
                          <div class="col-md-4">
                            <span>
                              <strong>
                                Cantidad (Kg):
                              </strong>
                              <div
                                [innerHtml]="extintor?.cantidadKg === undefined ?
                                'N/A' : 'Si'"
                                >
                              </div>
                            </span>
                          </div>
                          <!-- ?end row -->
                        </div>
                        <!-- ? -->
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Tareas y Accesorios
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <!-- ? -->
                        <div class="row my-2">
                          <div class="col-md-3">
                            <span>
                              <strong>
                                Disco Seg:
                              </strong>
                              <div
                                [innerHtml]="extintor?.discoSeg === undefined ?
                                'no' : 'Si'"
                                >
                              </div>
                            </span>
                          </div>
                          <div class="col-md-2">
                            <span>
                              <strong>
                                Manija:
                              </strong>
                              <div
                                [innerHtml]="extintor?.manija === undefined ?
                                'no' : 'Si'"
                                >
                              </div>
                            </span>
                          </div>
                          <div class="col-md-2">
                            <span>
                              <strong>
                                Calco:
                              </strong>
                              <div
                                [innerHtml]="extintor?.calco === undefined ?
                                'no' : 'Si'"
                                >
                              </div>
                            </span>
                          </div>
                          <div class="col-md-2">
                            <span>
                              <strong>
                                Ruedas:
                              </strong>
                              <div
                                [innerHtml]="extintor?.ruedas === undefined ?
                                'no' : 'Si'"
                                >
                              </div>
                            </span>
                          </div>
                          <div class="col-md-3">
                            <span>
                              <strong>
                                Manguera:
                              </strong>
                              <div
                                [innerHtml]="extintor?.manguera === undefined ?
                                'no' : 'Si'"
                                >
                              </div>
                            </span>
                          </div>
                          <!-- ?end row -->
                        </div>
                        <div class="row my-2">
                          <div class="col-md-3">
                            <span>
                              <strong>
                                Tobera:
                              </strong>
                              <div
                                [innerHtml]="extintor?.tobera === undefined ?
                                'no' : 'Si'"
                                >
                              </div>
                            </span>
                          </div>
                          <div class="col-md-2">
                            <span>
                              <strong>
                                Traba S:
                              </strong>
                              <div
                                [innerHtml]="extintor?.trabaS === undefined ?
                                'no' : 'Si'"
                                >
                              </div>
                            </span>
                          </div>
                          <div class="col-md-2">
                            <span>
                              <strong>
                                Oring:
                              </strong>
                              <div
                                [innerHtml]="extintor?.oring === undefined ?
                                'no' : 'Si'"
                                >
                              </div>
                            </span>
                          </div>
                          <div class="col-md-2">
                            <span>
                              <strong>
                                Valvula:
                              </strong>
                              <div
                                [innerHtml]="extintor?.valvula === undefined ?
                                'no' : 'Si'"
                                >
                              </div>
                            </span>
                          </div>
                          <div class="col-md-3">
                            <span>
                              <strong>
                                Vastago:
                              </strong>
                              <div
                                [innerHtml]="extintor?.vastago === undefined ?
                                'no' : 'Si'"
                                >
                              </div>
                            </span>
                          </div>
                          <!-- ?end row -->
                        </div>
                        <div class="row my-2">
                          <div class="col-md-3">
                            <span>
                              <strong>
                                Manometro:
                              </strong>
                              <div
                                [innerHtml]="extintor?.manometro === undefined ?
                                'no' : 'Si'"
                                >
                              </div>
                            </span>
                          </div>
                          <div class="col-md-2">
                            <span>
                              <strong>
                                Caño p:
                              </strong>
                              <div
                                [innerHtml]="extintor?.canioP === undefined ?
                                'no' : 'Si'"
                                >
                              </div>
                            </span>
                          </div>
                          <div class="col-md-2">
                            <span>
                              <strong>
                                Pintura:
                              </strong>
                              <div
                                [innerHtml]="extintor?.pintura === undefined ?
                                'no' : 'Si'"
                                >
                              </div>
                            </span>
                          </div>
                          <div class="col-md-3">
                            <span>
                              <strong>
                                Soporte:
                              </strong>
                              <div
                                [innerHtml]="extintor?.soporte === undefined ?
                                'no' : 'Si'"
                                >
                              </div>
                            </span>
                          </div>
                          <!-- ?end row -->
                        </div>
                        <!-- ? -->
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Ph
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <div class="row my-2">
                          <div class="col">
                            <span>
                              <strong>
                                Ph:
                              </strong>
                              <div
                                [innerHtml]="extintor?.ph === undefined ?
                                'F' : extintor?.ph"
                                >
                              </div>
                            </span>
                          </div>
                          <!-- ?end row -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Nro Estampilla
                      </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <div class="row my-2">
                          <div class="col">
                            <span>
                              <strong>
                                Estampilla:
                              </strong>
                              <div
                                [innerHtml]="extintor?.estampilla === undefined ?
                                'N/A' : extintor?.estampilla"
                                >
                              </div>
                            </span>
                          </div>
                          <!-- ?end row -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ?End acordion item -->
                </div>
                <!--? end  -->
              </div>
            </div>
            <!-- <hr/> -->
          </div>
        </div>
        <!--todo second tab empresa-->
        <div
          class="tab-pane"
          id="profile"
          role="tabpanel"
          aria-expanded="false"
        >
          <div class="card-body">
            <div class="row">
              <div class="text-center col-md-4 b-r">
                <div class="avatar-vista">
                  <a
                    class="image-popup-no-margins"
                    [href]="extintor?.empresa?.img! | imagen: 'empresas'"
                  >
                    <img
                      [src]="extintor?.empresa?.img! | imagen: 'empresas'"
                      class="rounded avatar-vista-preview img-responsive"
                    />
                  </a>
                  <!-- <hr> -->
                </div>
              </div>
              <div class="col-md-8 sm-text-center">
                <div class="row">
                  <div class="col-md-6 b-r">
                    <strong>Nombre:</strong>
                    <br />
                    <p class="text-muted">{{extintor.empresa.nombre }}</p>
                  </div>
                  <div class="col-md-6 ">
                    <strong>Localidad:</strong>
                    <br />
                    <p class="text-muted">{{extintor.empresa.localidad}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 b-r">
                    <strong>Direccion:</strong>
                    <br />
                    <p class="text-muted">{{extintor.empresa.direccion}}</p>
                  </div>
                  <div class="col-md-6">
                    <strong>Extintores:</strong>
                    <br />
                    <p class="text-muted">({{extintor.empresa.nroExtintores}})</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- <hr /> -->
            <p class="m-t-30">
              <!-- info empresa -->
            </p>
            <!-- <h4 class="font-medium m-t-30">Skill Set</h4> -->

          </div>
        </div>
        <!--todo forms  planila chequeo -->
        <div
          class="tab-pane"
          id="settings"
          role="tabpanel"
          aria-expanded="false"
        >
          <!-- todo si es user comun -->
          <div *ngIf="isUFunc()" class="card-body">
            <div class="row">
              <div class="col-md-12 text-capitalize">
                <h3>Numero de serie:</h3>
                <p>{{ extintor?.numeroSerie }}</p>
                <hr/>
              </div>
              <div class="col-md-6">
                <h3>Zona:</h3>
                <p [innerHtml]="extintorForm.value.zona.length >= 1 ? extintorForm.value.zona : 'N/A'"></p>
              </div>
              <div class="col-md-6">
                <h3>Num Interno:</h3>
                <p [innerHtml]="extintorForm.value.numInterno.length >= 1 ? extintorForm.value.numInterno : 'N/A'"></p>
              </div>
              <div class="col-md-6">
                <h3>Acceso:</h3>
                <p [innerHtml]="extintorForm.value.acceso.length >= 1 ? extintorForm.value.acceso : 'N/A'"></p>
              </div>
              <div class="col-md-6">
                <h3>Demarcado:</h3>
                <p [innerHtml]="extintorForm.value.demarcado.length >= 1 ? extintorForm.value.demarcado : 'N/A'"></p>
              </div>
              <div class="col-md-12">
                <h3>Estado de extintor</h3>
                <hr/>
              </div>
              <div class="col-md-6">
                <h3>Manometro:</h3>
                <p [innerHtml]="extintorForm.value.estadoManometro.length >= 1 ? extintorForm.value.estadoManometro : 'N/A'"></p>
              </div>
              <div class="col-md-6">
                <h3>Pintura:</h3>
                <p [innerHtml]="extintorForm.value.estadoPintura.length >= 1 ? extintorForm.value.estadoPintura : 'N/A'"></p>
              </div>
              <div class="col-md-6">
                <h3>Chapa baliza:</h3>
                <p [innerHtml]="extintorForm.value.estadoChapaBaliza.length >= 1 ? extintorForm.value.estadoChapaBaliza : 'N/A'"></p>
              </div>
              <div class="col-md-6">
                <h3>Manija:</h3>
                <p [innerHtml]="extintorForm.value.estadoManija.length >= 1 ? extintorForm.value.estadoManija : 'N/A'"></p>
              </div>
              <div class="col-md-6">
                <h3>Retiro por Mantenimiento:</h3>
                <p [innerHtml]="extintorForm.value.retiroPorMant.length >= 1 ? extintorForm.value.retiroPorMant : 'N/A'"></p>
              </div>
              <div class="col-md-6">
                <h3>Sustituto:</h3>
                <p [innerHtml]="extintorForm.value.sustituto.length >= 1 ? extintorForm.value.sustituto : 'N/A'"></p>
              </div>
              <div class="col-md-6">
                <h3>Numero de sustituto:</h3>
                <p [innerHtml]="extintorForm.value.numeroSustituto.length >= 1 ? extintorForm.value.numeroSustituto : 'N/A'"></p>
              </div>
              <div class="col-md-6">
                <h3>Observacion:</h3>
                <p
                  [innerHtml]="
                    extintorForm.value.observacion.length > 1
                      ? extintorForm.value.observacion
                      : 'N/A'
                  "
                ></p>
              </div>
            </div>
          </div>
          <!-- todo admin or editor -->
          <div *ngIf="!isUFunc()" class="card-body">
            <form
              [formGroup]="extintorForm"
              class="form-horizontal form-material"
              (submit)="guardarExtintor()"
            >
              <div class="form-body pt-2 px-2">
                <h3 class="box-title">
                  Num de Extintor: {{ extintor?.numeroSerie }}
                </h3>
                <hr />
                <div class="row px-2">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Zona:</label>
                      <input
                        formControlName="zona"
                        type="text"
                        placeholder=""
                        class="form-control form-control-line"
                      />
                    </div>
                  </div>
                  <!--/span-->
                  <div class="col-md-6">
                    <div class="form-group has-danger">
                      <label class="control-label">Num Interno:</label>
                      <input
                        formControlName="numInterno"
                        type="number"
                        placeholder=""
                        min="0"
                        class="form-control form-control-line"
                      />
                    </div>
                  </div>
                  <!--/span-->
                </div>
                <div class="row px-2">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Acceso:</label>
                      <input
                        formControlName="acceso"
                        type="text"
                        placeholder=""
                        class="form-control form-control-line"
                      />
                    </div>
                  </div>
                  <!--/span-->
                  <div class="col-md-6">
                    <div class="form-group has-danger">
                      <label class="control-label">Demarcado:</label>
                      <div class="pt-1">
                        <label class="custom-control custom-radio">
                          <input
                            formControlName="demarcado"
                            value="si"
                            type="radio"
                            id="dem-si"
                            class="custom-control-input"
                          />
                          <span class="custom-control-indicator"></span>
                          <span class="text-dark custom-control-description"
                            >Si</span
                          >
                        </label>
                        <label class="custom-control custom-radio">
                          <input
                            formControlName="demarcado"
                            value="no"
                            type="radio"
                            id="dem-no"
                            class="custom-control-input"
                          />
                          <span class="custom-control-indicator"></span>
                          <span class="text-dark custom-control-description"
                            >No</span
                          >
                        </label>
                      </div>
                    </div>
                  </div>
                  <!--/span-->
                </div>
                <h3 class="box-title m-t-10">Estado del Extintor:</h3>
                <hr />
                <div class="row px-2">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Estado Manometro:</label>
                      <select
                        formControlName="estadoManometro"
                        class="form-control custom-select form-control-line"
                      >
                        <option selected>Seleccione una</option>
                        <option value="Malo">Malo</option>
                        <option value="Bueno">Bueno</option>
                      </select>
                    </div>
                  </div>
                  <!--/span-->
                  <div class="col-md-6">
                    <div class="form-group has-danger">
                      <label class="control-label">Pintura:</label>
                      <select
                        formControlName="estadoPintura"
                        class="form-control form-control-line"
                      >
                        <option selected>Seleccione una</option>
                        <option value="Malo">Malo</option>
                        <option value="Bueno">Bueno</option>
                      </select>
                    </div>
                  </div>
                  <!--/span-->
                </div>
                <div class="row px-2">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Chapa Baliza:</label>
                      <select
                        formControlName="estadoChapaBaliza"
                        class="form-control form-control-line"
                      >
                        <option selected>Seleccione una</option>
                        <option value="Malo">Malo</option>
                        <option value="Bueno">Bueno</option>
                      </select>
                    </div>
                  </div>
                  <!--/span-->
                  <div class="col-md-6">
                    <div class="form-group has-danger">
                      <label class="control-label">Manija:</label>
                      <select
                        formControlName="estadoManija"
                        class="form-control form-control-line"
                      >
                        <option selected>Seleccione una</option>
                        <option value="Malo">Malo</option>
                        <option value="Bueno">Bueno</option>
                      </select>
                    </div>
                  </div>
                  <!--/span-->
                </div>
                <div class="row px-2">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label"
                        >Retiro por Mantenimiento:</label
                      >
                      <div class="pt-1">
                        <label class="custom-control custom-radio">
                          <input
                            formControlName="retiroPorMant"
                            value="si"
                            type="radio"
                            id="rtpm-si"
                            class="custom-control-input"
                          />
                          <span class="custom-control-indicator"></span>
                          <span class="text-dark custom-control-description"
                            >Si</span
                          >
                        </label>
                        <label class="custom-control custom-radio">
                          <input
                            formControlName="retiroPorMant"
                            value="no"
                            type="radio"
                            id="rtpm-no"
                            class="custom-control-input"
                          />
                          <span class="custom-control-indicator"></span>
                          <span class="text-dark custom-control-description"
                            >No</span
                          >
                        </label>
                      </div>
                    </div>
                  </div>
                  <!--/span-->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label"
                        >Se coloco un sustituto:</label
                      >
                      <div class="pt-1">
                        <label class="custom-control custom-radio">
                          <input
                            formControlName="sustituto"
                            value="si"
                            type="radio"
                            id="sust-si"
                            class="custom-control-input"
                          />
                          <span class="custom-control-indicator"></span>
                          <span class="text-dark custom-control-description"
                            >Si</span
                          >
                        </label>
                        <label class="custom-control custom-radio">
                          <input
                            formControlName="sustituto"
                            value="no"
                            type="radio"
                            id="sust-no"
                            class="custom-control-input"
                          />
                          <span class="custom-control-indicator"></span>
                          <span class="text-dark custom-control-description"
                            >No</span
                          >
                        </label>
                      </div>
                    </div>
                  </div>
                  <!--/span-->
                </div>
                <div class="row px-2">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Numero de sustituto:</label>
                      <input
                        formControlName="numeroSustituto"
                        type="text"
                        placeholder=""
                        class="form-control form-control-line"
                        id="example-email"
                      />
                    </div>
                  </div>
                  <!--/span-->
                  <div class="col-md-6">
                    <div class="form-group has-danger">
                      <label class="control-label">Observacion:</label>
                      <textarea
                        formControlName="observacion"
                        rows="3"
                        class="form-control form-control-line"
                      ></textarea>
                    </div>
                  </div>
                  <!--/span-->
                </div>
                <h3 class="box-title">Imagenes:</h3>
                <hr />
                <!--  -->
                <div class="row pb-5 px-2">
                  <div class="col-md-6">
                    <small class="small-img">- Foto 1 -</small>
                    <div class="avatar-upload">
                      <div class="avatar-edit">
                        <input
                          (change)="cambiarImagen($event)"
                          class="input-img"
                          type="file"
                          id="imageUpload"
                          accept=".png, .jpg, .jpeg"
                          #img1
                        />
                        <label class="label-img" for="imageUpload"></label>
                        <a
                          *ngIf="imagenSubir != undefined"
                          (click)="removeDataImg1()"
                          class="lbl-remove"
                        ></a>
                      </div>
                      <div *ngIf="!cargandoImg" class="avatar-preview">
                        <div
                          id="imagePreview"
                          style="background-image: url({{imgViene}});"
                        >
                          <div *ngIf="preload" class="preloadPosition text-center font-medium text-light">
                            Subiendo imagen
                            <span class="throbber-loader"></span>
                          </div>
                        </div>
                      </div>
                      <div
                        *ngIf="cargandoImg"
                        class="bg-light animated fadeIn fast avatar-preview"
                      >
                        <div class="text-center justify-content-center">
                          <div role="alert" class="alert text-center">
                            <i class="fa fa-spin fa-refresh fa-2x"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--/span-->
                  <div class="col-md-6">
                    <small class="small-img">- Foto 2 -</small>
                    <div class="avatar-upload">
                      <div class="avatar-edit">
                        <input
                          (change)="cambiarImagen2($event)"
                          class="input-img"
                          type="file"
                          id="imageUpload2"
                          accept=".png, .jpg, .jpeg"
                        />
                        <label class="label-img" for="imageUpload2"></label>
                        <a
                          *ngIf="imagenSubir2 != undefined"
                          (click)="removeDataImg2()"
                          class="lbl-remove"
                        ></a>
                      </div>
                      <div class="avatar-preview">
                        <div
                          id="imagePreview2"
                          style="background-image: url({{imgViene2}});"
                        >
                        <div *ngIf="preload2" class="preloadPosition text-center font-medium text-light">
                          Subiendo imagen
                          <span class="throbber-loader"></span>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--/span-->
                </div>

                <!--  -->
              </div>
              <!-- ** Realizar un container row con establecidas para ver solamente  -->
              <!-- TODO NUMSERIE -->
              <div *ngIf="!isUFunc()" class="form-group">
                <div class="col-sm-12 centeredMobile">
                  <button
                    type="submit"
                    [disabled]="extintorForm.invalid"
                    class="btn btn-success"
                  >
                    Guardar Cambios
                  </button>
                  <!-- <button (click)="testFunction(extintor?.empresa?._id)" class="btn btn-info">test</button> -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
</div>
<script></script>
