<div class="row">

  <div class="col-md-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Puedes cambiar tu nombre</h4>
            <h6 class="card-subtitle"></h6>
            <form class="form form-material p-t-20"
              [formGroup]="perfilForm"
              (submit)="actualizarPerfil()"
            >
                <div class="form-group">
                    <label for="exampleInputuname">Nombre</label>
                    <div class="input-group">
                        <div class="input-group"></div>
                        <input type="text"
                              class="form-control"
                              id="exampleInputuname"
                              placeholder="Nombre del usuario"
                              formControlName="nombre"
                        >
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <div class="input-group">
                        <div class="input-group"></div>
                        <input
                          type="email"
                          class="form-control"
                          id="exampleInputEmail1"
                          placeholder="ingrese email valido"
                          formControlName="email"
                          [readonly] = "usuario.google"
                        >
                    </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputPass1">Contraseña</label>
                  <div class="input-group">
                      <input
                        type="password"
                        class="form-control"
                        id="exampleInputPass1"
                        placeholder="Password"
                        formControlName="password"
                      >
                  </div>
              </div>

                <button type="submit" [disabled]="perfilForm.invalid" class="btn btn-block btn-success waves-effect waves-light m-r-10">Guardar datos</button>
            </form>
        </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Imagen</h4>
            <h6 class="card-subtitle">usuario ejemplo</h6>

            <!--todo other img design -->
            <div class="avatar-upload">
              <div class="avatar-edit">
                <input
                  (change)="cambiarImagen($event)"
                  class="input-img"
                  type="file"
                  id="imageUpload"
                  accept=".png, .jpg, .jpeg"
                  #img1
                />
                <label class="label-img" for="imageUpload"></label>
                <a
                  *ngIf="imagenSubir != undefined"
                  (click)="removeDataImg1()"
                  class="lbl-remove"
                ></a>
              </div>
              <div *ngIf="!cargandoImg" class="avatar-preview">
                <div
                  *ngIf="!usuario.google"
                  id="imagePreview"
                  style="background-image: url({{imgPreCargada}});"
                ></div>
                <!-- usuario.google -->
                <div
                  *ngIf="usuario.google"
                  id="imagePreview"
                  style="background-image: url({{imgPreCargada}});"
                ></div>
              </div>
              <div
                *ngIf="cargandoImg"
                class="bg-light animated fadeIn fast avatar-preview"
              >
                <div class="text-center justify-content-center">
                  <div role="alert" class="alert text-center">
                    <i class="fa fa-spin fa-refresh fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
            <!-- todo -->
            <button
              type="button"
              class="btn btn-block btn-success waves-effect waves-light m-r-10"
              [disabled]="!imagenSubir"
              (click)="subirImagen()"
            >
              Cambiar Img
            </button>

        </div>
    </div>
  </div>

</div>

