<div class="row">
  <div class="col-md-12">
    <div class="card animated fadeInRightBig">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <img src="../../../assets/images/grupo2.png" class="img-responsive" alt="">
          </div>
          <div class="col b-l pt-2 pb-2 pr-3 pl-3">
            <span class="fsize">
              <!-- <b class="h2"> Matafuegos HYS </b><br> -->
              Empresa líder en materia de prevención contra incendios y el primer taller de matafuegos <b>certificado</b> por <b>Bureau</b> Veritas de Salta.
              <br><div class="pb-2"></div>
              Hace más de 15 años brindamos diferentes servicios a empresas e individuos del norte argentino.
              Entre ellos control, recarga y mantenimiento de matafuegos; y Gráfica vial.
              <br><div class="pb-2"></div>
              Si queres un servicio de calidad y certificado que asegure tu empresa y sus empleados, a vos y tu familia, vení a Matafuegos HYS.
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- <hr> -->
  </div>

  <div class="col-md-12 pt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100 animated fadeInLeftBig">
          <div class="text-center pt-2">
            <img src="../../../assets/images/icon/icons2.png" class="card-img-top img-responsive w-40" alt="...">
            <hr class="separador">
          </div>
          <div class="card-body">
            <h4 class="card-title font-medium">Venta y Mantenimiento</h4>
            <p class="card-text">Venta, Control, Mantenimiento y Reparación de <b>EXTINTORES</b> ademas elementos de prevención contra incendios.
              <br> También brindamos asesoramiento a la hora de armar tu negocio para que estés asegurado y cumplas las normativas vigentes.
              <br> Las mejores marcas y al mejor precio!.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 animated fadeInLeftBig">
          <div class="text-center pt-2">
            <img src="../../../assets/images/icon/icons3.png" class="card-img-top img-responsive w-40" alt="...">
            <hr class="separador">
          </div>
          <div class="card-body">
            <h4 class="card-title font-medium">Redes Contra Incencios </h4>
            <p class="card-text">
              Un buen diseño e instalación de un sistema contra incendio no son garantía de una real protección para cualquier edificación.
              <br> Solo la implementación de un programa de inspección, pruebas y mantenimiento <b>(IPM)</b> ofrece una plena garantía de seguridad.
              <br>
            </p>
            <ul>
              <li>
                Asesoramiento
              </li>
              <li>
                Instalación y Mantenimiento
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 animated fadeInLeftBig">
          <div class="text-center pt-2">
            <img src="../../../assets/images/icon/icons.png" class="card-img-top img-responsive w-40" alt="...">
            <hr class="separador">
          </div>
          <div class="card-body">
            <h4 class="card-title font-medium">Higiene y Seguridad</h4>
            <p class="card-text">
              Estamos comprometidos con el desarrollo empresarial de nuestros clientes.
              <br> Matafuegos HYS brinda servicios de Consultoría, Asesoría y Capacitación en Seguridad, Estudios de Higiene y Seguridad, Mediciones Higiénicas y diferentes capacitaciones.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 pt-4">
    <div class="card animated fadeInRightBig">
      <div class="card-body">
        <div class="row">
          <div class="col pt-2 pb-2 pr-3 pl-3 text-center">
            <div class="card-title font-medium h3">
              PREVENIR ES CUIDAR
            </div>
            <div class="card-subtitle">
              La prevención es la medida más importante de la seguridad contra incendios.
            </div>
          </div>
        </div>
        <div class="row animated fadeIn">
          <div class="col pt-2 pb-2 pr-3 pl-3 text-center">
            <span class="font-medium">
              QUERES SABER MÁS SOBRE NOSOTROS O NECESITAS UN PRESUPUESTO?
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <button class="btn btn-facebook waves-effect btn-circle waves-light" (click)="redes('facebook')" type="button"> <i class="fa fa-facebook"></i> </button>&nbsp;
            <button class="btn btn-instagram waves-effect btn-circle waves-light" (click)="redes('instagram')" type="button"> <i class="fa fa-instagram"></i> </button>&nbsp;
            <button class="btn btn-wap waves-effect btn-circle waves-light" (click)="redes('whatsapp')" type="button"> <i class="mdi mdi-whatsapp"></i> </button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="text-center col-12 pt-3 pb-3 animated fadeIn">
    <iframe
      class="mapmob"
      height="450"
      style="border:0"
      loading="lazy"
      allowfullscreen
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCq_sKYohrgR0j35LfVEa0fEBkRmlDIG4Q&q=place_id:ChIJ_5RQWcHDG5QRcjlyP69lmqg&key=...">
    </iframe>
  </div>

</div>
