<div class="row animated fadeIn fast" *ngIf="cargando">
  <div class="col-12">
    <div role="alert" class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>

<div *ngIf="!cargando" class="row animated fadeIn fast">
  <!--  -->
  <div *ngIf="usuarios.length != 0" class="col">
    <div *ngIf="!isUFunc()" class="card">
      <div class="card-body">
        <h3>Usuarios</h3>
        <div class="alert alert-info"
          *ngIf="usuarios.length === 0"
        >
          <p class="mb-0">
            No hay usuarios que coincidan
          </p>
        </div>
        <div class="table-responsive table-hover"
          *ngIf="usuarios.length != 0"
        >
          <table class="table">
              <thead>
                  <tr>
                      <th>Imagen</th>
                      <th>Nombre</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let usuario of usuarios"
                  class="animated cursor fadeIn fast"
                  [routerLink]="['/dashboard/usuario', usuario.uid]"
                  >
                      <td>
                        <img [src]="usuario.img! | imagen:'usuarios'"
                        alt="" class="avatar2 cursor"
                        >
                      </td>
                      <td class="align-middle">{{usuario.nombre}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div *ngIf="empresas.length != 0" class="col">
    <div class="card">
      <div class="card-body">
        <h3>Empresas</h3>

        <div class="alert alert-info"
          *ngIf="empresas.length === 0"
        >
          <p class="mb-0">
            No hay empresas que coincidan
          </p>
        </div>

        <div class="table-responsive table-hover"
          *ngIf="empresas.length != 0"
        >
          <table class="table">
              <thead>
                  <tr>
                      <th>Imagen</th>
                      <th>Nombre</th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let empresa of empresas"
                class="cursor animated fadeIn fast"
                (click)="navigate(empresa.nombre)"
                >
                  <td>
                    <img [src]="empresa.img! | imagen:'empresas'"
                    alt="" class="avatar2 cursor"
                    >
                  </td>
                  <td class="align-middle">
                    <a>
                      {{empresa.nombre}}
                    </a>
                  </td>
              </tr>
              </tbody>
          </table>
      </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div *ngIf="extintores.length != 0" class="col">
    <div class="card">
      <div class="card-body">
        <h3>Extintores</h3>

        <div class="alert alert-info"
          *ngIf="extintores.length === 0"
        >
          <p class="mb-0">
            No hay extintores que coincidan
          </p>
        </div>
        <div class="table-responsive table-hover"
          *ngIf="extintores.length != 0"
        >
          <table class="table">
              <thead>
                  <tr>
                      <th>Foto</th>
                      <th>Numero de serie</th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let extintor of extintores"
                  class="cursor animated fadeIn fast"
                  [routerLink]="['/dashboard/vista-extintor', extintor.numeroSerie]"
                >
                  <td>
                    <img [src]="extintor.img! | imagen:'extintores'"
                    alt="" class="avatar2 cursor"
                    >
                  </td>
                  <td class="align-middle">
                    <a>
                      {{extintor.numeroSerie}}
                    </a>
                  </td>
              </tr>
              </tbody>
          </table>
      </div>
      </div>
    </div>
  </div>
  <div *ngIf="usuarios.length == 0 && empresas.length == 0 && extintores.length == 0" class="col">
    <div class="">
      <div class="alert alert-info">
          <p *ngIf="!isUFunc()" class="mb-0">
            No hay coincidencia con Extintores | Usuarios | Empresas
          </p>
          <p *ngIf="isUFunc()" class="mb-0">
            No hay coincidencia con Extintores | Empresas
          </p>
        </div>
    </div>
  </div>
</div>
