<div class="row animated fadeIn fast" *ngIf="cargando">
  <div class="col-12">
    <div role="alert" class="alert bg-light text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <div class="row animated fadeIn py-2">
          <div class="col-md-6">
            <h4 class="card-title sm-text-center">Todas las empresas ({{empresas?.length}})</h4>
            <h6 class="card-subtitle"></h6>
          </div>
          <div class="col-md-6 justify-content-center text-center">
            <div class="text-right">

              <a routerLink="/dashboard/empresa/nuevo"
                class="btn btnHoverText waves-effect waves-light btn-outline-info">
                Crear Empresa
              </a>
            </div>
          </div>
        </div>

        <!-- <hr> -->
        <!-- tabla 1 -->

        <div class="">
          <table id="tabla"
            datatable
            [dtOptions]="dtOptions"
            class="onMobile text-capitalize display nowrap table animated fadeIn table-hover"
            cellspacing="0"
            width="100%"
            role="grid"
          >
            <thead>
              <tr>
                <th class="sorting text-center w5">#Nro</th>
                <th class="text-center no-sort borrar2">
                  Borrar
                </th>
                <th class="text-center no-sort fotoPadding2">Foto</th>
                <th class="sorting text-center">Nombre</th>
                <th class="sorting text-center">Direccion</th>
                <th class="sorting text-center">Localidad</th>
                <th class="sorting text-center text-nowrap">Accion</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let empresa of empresas; let i = index"
                class="cursor"
              >
                <td class="align-middle text-center">
                  {{i+1}}
                </td>
                <td class="align-middle text-center borrar">
                  <a
                    (click)="eliminarEmpresa(empresa)"
                    data-toggle="tooltip"
                    class="cursor iconHover"
                    data-original-title="Borrar"
                  >
                  <i class="mdi mdi-delete-circle text-danger"></i>
                  </a>
                </td>
                <td class="align-middle text-center fotoPadding">
                  <img
                    [src]="empresa.img! | imagen: 'empresas'"
                    alt=""
                    class="avatar2 cursor"
                    (click)="abrirModal(empresa)"
                  />
                </td>
                <td class="align-middle text-center" [routerLink]="['/dashboard/empresa', empresa._id]">
                  {{ empresa.nombre }}
                </td>
                <td class="align-middle text-center" [routerLink]="['/dashboard/empresa', empresa._id]">
                  {{ empresa.direccion }}</td>
                <td class="align-middle text-center" [routerLink]="['/dashboard/empresa', empresa._id]">
                  {{ empresa.localidad }}</td>
                <td class="text-nowrap align-middle text-center">
                  <a
                    [routerLink]="['/dashboard/empresa', empresa._id]"
                    class="cursor iconHover"
                    data-toggle="tooltip"
                    data-original-title="Editar"
                  >
                  <i class="mdi mdi-tooltip-edit text-inverse"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- end table 2 -->
        <!-- <button class="btn btn-secondary">Anterior</button>
        &nbsp;
        <button class="btn btn-secondary">Siguiente</button> -->
      </div>
    </div>
  </div>
</div>
