<div class="row animated fadeIn fast" *ngIf="cargando">
  <div class="col-12">
    <div role="alert" class="alert bg-light text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>
<div class="row animated fadeIn fast" *ngIf="cantidad < 1">
  <div class="col-12">
    <div role="alert" class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-12 m-t-20">
    <!-- <h4 class="m-b-0">Card columns</h4> -->
    <!-- <p class="text-muted m-t-0 font-12">Cards can be organized into Masonry-like columns with just CSS by wrapping them in <code>card-columns</code></p> -->
    <!--  -->
    <div class="row row-cols-2 justify-content-center row-cols-md-3 g-4">
      <div
        *ngFor="let empresa of empresas"
        class="col"
      >
        <div
          (click)="navigate(empresa.nombre)"
          class="skeletonPre avatar-vista card h-100 card-shadow text-capitalize animated fadeIn"
        >
        <!-- 315 x 160 -->
          <img [hidden]="!viewImageFoto1" (load)="loaded()"
            class="animated fadeIn avatar-vista-preview card-img-top img-responsive img-fluid"
            [src]="empresa.img! | imagen: 'empresas'"
            alt="Card image cap"
          />
          <div [hidden]="viewImageFoto1" class="item avatar-vista-preview">
            <ngx-skeleton-loader
              count="1"
              [theme]="{
                'border-radius': '5px',
                height: '100%',
                border: '1px solid white'
              }"
            ></ngx-skeleton-loader>
          </div>
          <div class="cardRespBody card-body">
            <h4 class="titleResp card-title">
              {{ empresa.nombre }}
            </h4>
            <p class="card-text">
             <strong>Localidad:</strong> {{ empresa.localidad }}
            </p>
            <p class="card-text pbMob text-capitalize">
             <strong>Direccion:</strong> {{ empresa.direccion }}
            </p>
          </div>
          <div class="card-footer bg-white cardRespFoot">
            <small class="text-muted">
              Nro de extintores:  {{empresa.nroExtintores}}
            </small>
          </div>
        </div>
        <!-- end card -->

      </div>


    </div>

  </div>
</div>
