<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
  <div class="col-md-5 align-self-center">
    <h3 class="text-themecolor">{{titulo}}</h3>
  </div>
  <div class="col-md-7 align-self-center">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/">&nbsp;Inicio</a>
      </li>
      <li *ngIf="content" class="breadcrumb-item">
        <span *ngIf="numS === undefined">
          &nbsp;{{content}}
        </span>
        <span *ngIf="numS !== undefined">
          &nbsp;<a routerLink="vista-empresas">Empresas</a>
        </span>
      </li>
      <!-- nombreEmpr -->
      <li *ngIf="numS !== undefined" class="breadcrumb-item text-capitalize">
        <a routerLink="vista-empresas/{{nombreEmprNoSpace}}">
          &nbsp;{{nombreEmpr}}
        </a>
      </li>
      <li *ngIf="numS !== undefined" class="breadcrumb-item active">
        &nbsp;{{numS}}
      </li>
      <li *ngIf="numS === undefined && titulo === 'Extintores'" class="breadcrumb-item active">
        &nbsp;<a routerLink="vista-empresas">Empresas</a>
      </li>
      <li *ngIf="numS === undefined" class="breadcrumb-item active">
        &nbsp;{{titulo}}
      </li>
    </ol>
  </div>

</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
