<!-- <div *ngIf="cargando"
  class="row animated fadeIn fast">
  <div class="col-12">

    <div role="alert" class="alert bg-light text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>

  </div>
</div> -->
<div  class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row animated fadeIn pt-2">

          <div class="col-md-6">
            <!-- usuarios.length -->
            <h4 class="card-title sm-text-center">Usuarios Registrados ()</h4>
            <h6 class="card-subtitle"></h6>
          </div>
          <div class="col-md-6">
            <div class="text-right">

              <a routerLink="/dashboard/usuario/nuevo"
                class="btn btnHoverText waves-effect waves-light btn-outline-info">
                Crear Usuario
              </a>
            </div>
          </div>
        </div>

        <br>
        <!-- tablas aqui -->


        <!--todo FILTER NEW DATATABLE -->
        <div class="row p-2">
          <div class="col-md-4">
            <input
              type="text"
              class="form-control"
              placeholder="Buscar Usuario..."
              (keyup)="updateFilter($event)"
            />
          </div>
        </div>
        <!-- todo TABLE DESKTOP -->
        <div *ngIf="!mobileTable">
          <ngx-datatable
            #myTable #tables
            class="material expandable"
            [columnMode]="ColumnMode.force"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [headerHeight]="50"
            [footerHeight]="50"
            rowHeight="auto"
            [limit]="10"
            [reorderable]="true"
          >
            <!-- Row Detail Template -->
            <ngx-datatable-row-detail [rowHeight]="70" #myDetailRow (toggle)="onDetailToggle($event)">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                <div style="padding-left:5px; padding-bottom: 5px; font-size:0.8em">
                  <span class="font-medium">Nombre</span> =
                  <span>{{ row.nombre }}</span>,
                  <span class="font-medium">Correo</span> =
                  <span>{{ row.email }}</span>,
                  &nbsp;
                  <button (click)="eliminarUsuarios(row)" class="btn btn-danger btn-sm">
                    Borrar
                  </button>
                </div>
              </ng-template>
            </ngx-datatable-row-detail>
            <!-- columns template -->
            <!-- button responsive -->
            <ngx-datatable-column
              [width]="fourteenFour ? 15 : 25"
              [minWidth]="10"
              [resizeable]="false"
              [sortable]="false"
              [draggable]="false"
              [canAutoResize]="false"
            >
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                <a
                  href="javascript:void(0)"
                  [class.datatable-icon-right]="!expanded"
                  [class.datatable-icon-down]="expanded"
                  title="Expand/Collapse Row"
                  (click)="toggleExpandRow(row)"
                  class="cursor desktop-hidden"
                >
                </a>
              </ng-template>
            </ngx-datatable-column>
            <!--  -->
            <ngx-datatable-column name="Index" [minWidth]="30" [width]="30">
              <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                <span>{{ rowIndex +1 }}</span>
              </ng-template>
            </ngx-datatable-column>
            <!--todo end -->
            <ngx-datatable-column name="nombre" [flexGrow]="1" [minWidth]="fourteenFiveteenfive ? 80 : 97" [width]="sixtinThree ? 80 : 130">
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span class="cursor" (click)="sort()" *ngIf="!thirtyThree">Nombre</span><span *ngIf="thirtyThree">Nombre</span>
              </ng-template>
              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <a class="sm-textTable" [routerLink]="['/dashboard/usuario', row['uid']]">{{value}}</a>
              </ng-template>
            </ngx-datatable-column>
            <!--todo end -->
            <ngx-datatable-column *ngIf="!seventiTen" name="email" [width]="120" [flexGrow]="1">
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span class="cursor mobile-hidden" (click)="sort()">Correo</span>
              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <!-- ? <i [innerHTML]="row['_id']"></i> -->
                <span class="mobile-hidden">{{ value }}</span>
              </ng-template>
            </ngx-datatable-column>
            <!--todo end -->
            <ngx-datatable-column *ngIf="!fivetwentyFive" [sortable]='false' name="img" [flexGrow]="1" [minWidth]="80" [width]="80">
              <ng-template let-column="column" ngx-datatable-header-template>
                <span class="mobile-hidden">Imagen</span>
              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <!--? aqui imagen -->
                <img
                  [src]="row.img! | imagen: 'extintores'"
                  alt=""
                  class="mobile-hidden avatar2 cursor"
                  (click)="abrirModal(row)"
                />
              </ng-template>
            </ngx-datatable-column>
            <!--todo  -->
            <ngx-datatable-column *ngIf="!thirtyThree" name="role" [flexGrow]="1">
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span class="cursor mobile-hidden" (click)="sort()" *ngIf="fourteenFour">Tipo</span>
                <span class="cursor" (click)="sort()" *ngIf="!fourteenFour">Tipo Usuario</span>
              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <!-- <span class="mobile-hidden sm-textTable">{{ value }}</span> -->
                <select class="text-center custom-select form-control"
                      [(ngModel)]="row.role"
                      (change)="cambiarRole(row)"
                    >
                  <option class="text-center" value="ADMIN_ROLE">Admin</option>
                  <option class="text-center" value="USER_ROLE">User</option>
                </select>
              </ng-template>
            </ngx-datatable-column>
            <!-- todo -->
            <ngx-datatable-column name="google" [flexGrow]="1" [minWidth]="fourteenFiveteenfive ? 80 : 97" [width]="sixtinThree ? 80 : 130">
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span class="cursor" (click)="sort()" *ngIf="!thirtyThree">Auth</span><span *ngIf="thirtyThree">Auth</span>
              </ng-template>
              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <span *ngIf="value" class="label label-danger">
                  Google
                </span>
                <span *ngIf="!value" class="label label-info">
                  Email
                </span>
              </ng-template>
            </ngx-datatable-column>
            <!-- todo -->
            <ngx-datatable-column *ngIf="!nineteenNine"  [width]="100" [sortable]='false' name="Borrar" [flexGrow]="1">
              <ng-template let-column="column" ngx-datatable-header-template>
                <span class="mobile-hidden">Borrar</span>
              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <!-- <span class="">{{ row._id }}</span> -->
                <button (click)="eliminarUsuarios(row)" class="mobile-hidden btn btn-danger btn-sm">Borrar</button>
              </ng-template>
            </ngx-datatable-column>
            <!-- todo -->
          </ngx-datatable>
        </div>
        <!--todo table mobile -->
        <div *ngIf="mobileTable">
          <ngx-datatable
            #myTable #tables
            class="material expandable"
            [columnMode]="ColumnMode.force"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [headerHeight]="50"
            [footerHeight]="50"
            rowHeight="auto"
            [limit]="10"
          >
            <!-- Row Detail Template -->
            <ngx-datatable-row-detail [rowHeight]="70" #myDetailRow (toggle)="onDetailToggle($event)">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                <div style="padding-left:5px; padding-bottom: 5px; font-size:0.8em">
                  <span class="font-medium">Nombre</span> =
                  <span>{{ row.nombre }}</span>,
                  <span class="font-medium">Correo</span> =
                  <span>{{ row.email }}</span>,
                  &nbsp;
                  <button (click)="eliminarUsuarios(row)" class="btn btn-danger btn-sm">
                    Borrar
                  </button>
                </div>
              </ng-template>
            </ngx-datatable-row-detail>
            <!-- columns template -->
            <!-- button responsive -->
            <ngx-datatable-column
              [width]="fourteenFour ? 15 : 25"
              [minWidth]="10"
              [resizeable]="false"
              [sortable]="false"
              [draggable]="false"
              [canAutoResize]="false"
            >
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                <a
                  href="javascript:void(0)"
                  [class.datatable-icon-right]="!expanded"
                  [class.datatable-icon-down]="expanded"
                  title="Expand/Collapse Row"
                  (click)="toggleExpandRow(row)"
                  class="cursor desktop-hidden"
                >
                </a>
              </ng-template>
            </ngx-datatable-column>
            <!--todo end -->
            <ngx-datatable-column name="nombre" [flexGrow]="1" [minWidth]="fourteenFiveteenfive ? 80 : 97" [width]="sixtinThree ? 80 : 130">
              <ng-template let-column="column" ngx-datatable-header-template>
                <span *ngIf="!thirtyThree">Nombre</span><span *ngIf="thirtyThree">Nombre</span>
              </ng-template>
              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <a class="sm-textTable" [routerLink]="['/dashboard/usuario', row['uid']]">{{value}}</a>
              </ng-template>
            </ngx-datatable-column>
            <!-- todo -->
            <ngx-datatable-column name="email" [flexGrow]="1">
              <ng-template let-column="column" ngx-datatable-header-template>
                <span>Correo </span>
              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span class="sm-textTable">{{ value }}</span>
              </ng-template>
            </ngx-datatable-column>
            <!-- todo -->
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
