<div class="row animated fadeIn fast" *ngIf="cargando">
  <div class="col-12">
    <div role="alert" class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>
<div *ngIf="!cargando" class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <div class="row animated fadeIn">
          <div class="col-md-6">
            <h4 class="card-title">Todos los extintores ({{extintores.length}})</h4>
            <h6 class="card-subtitle"></h6>
          </div>
          <div class="col-md-6 justify-content-center text-center">
              <a routerLink="/dashboard/extintores_excel"
                class="text-white btnResp float-lg-right btn waves-effect waves-light btn-info"
              >
                Crear con Excel
              </a>
              &nbsp;
              <a routerLink="/dashboard/extintor/nuevo"
                class="text-white btnResp mr-2 float-lg-right btn waves-effect waves-light btn-info"
              >
                Crear Extintor
              </a>
          </div>
        </div>

        <hr>
        <!-- tablas aqui -->

        <div class="">
          <table
            id="example"
            datatable
            [dtOptions]="dtOptions"
            class="onMobile text-capitalize display nowrap table animated fadeIn table-hover"
            cellspacing="0"
            width="100%"
            role="grid"
          >
            <thead>
              <tr>
                <th class="sorting text-center w5">#Nro</th>
                <th class="text-center no-sort borrar2">
                  Borrar
                </th>
                <th class="text-center no-sort fotoPadding2">Foto</th>
                <th class="sorting text-center ">Nro Serie</th>
                <th class="sorting text-center">Marca</th>
                <th class="sorting text-center ">Agente extintor</th>
                <th class="sorting text-center">Capacidad</th>
                <th class="sorting text-center">Empresa</th>
                <th class="sorting text-nowrap text-center">Editar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let extintor of extintores; let i = index"
                class="animated cursor fadeIn"
              >
                <td class="align-middle text-center">
                  {{i+1}}
                </td>
                <td class="align-middle text-center borrar">
                  <a
                    class="cursor iconHover"
                    data-toggle="tooltip"
                    data-original-title="Borrar"
                    (click)="borrarExtintor(extintor)"
                  >
                    <i class="mdi mdi-delete-circle text-danger"></i>
                  </a>
                </td>
                <td class="text-center align-middle fotoPadding">
                  <img
                    [src]="extintor.img! | imagen: 'extintores'"
                    alt=""
                    class="avatar2 cursor"
                    (click)="abrirModal(extintor)"
                  />
                </td>
                <td class="align-middle text-center" [routerLink]="['/dashboard/extintor', extintor._id]">
                  {{extintor.numeroSerie | slice:0:8}}{{(extintor.numeroSerie.length > 8) ? '.' : '' }}
                </td>
                <td class="align-middle text-center" [routerLink]="['/dashboard/extintor', extintor._id]">
                  {{ extintor.marca }}
                </td>
                <td class="align-middle text-center" [routerLink]="['/dashboard/extintor', extintor._id]">
                  {{ extintor.agenteExtintor }}
                </td>
                <td class="align-middle text-center" [routerLink]="['/dashboard/extintor', extintor._id]">
                  {{ extintor.capacidad }}
                </td>
                <td class="align-middle text-center" [routerLink]="['/dashboard/extintor', extintor._id]">
                  {{ extintor.empresa!.nombre }}
                </td>
                <td class="text-nowrap text-center align-middle">
                  <a
                    [routerLink]="['/dashboard/extintor', extintor._id]"
                    class="cursor iconHover"
                    data-toggle="tooltip"
                    data-original-title="Editar"
                  >
                    <!-- mdi-tooltip-edit -->
                    <i class="mdi mdi-tooltip-edit text-inverse"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
