<div class="row">
  <div class="col-lg-12" >
    <div class="card">
        <div class="card-body">
          <div class="row">
            <div id="formCreateExt" class="col-md-6 pb-4">
              <h4 *ngIf="!extintorSeleccionados" class="card-title">Nuevo Extintor</h4>
              <h4 *ngIf="extintorSeleccionados" class="card-title">Editando Extintor: {{extintorSeleccionados?.numeroSerie!}}</h4>
              <hr>
              <form [formGroup]="extintorForm"
                    (submit)="guardarExtintor()"
                class="form-horizontal form-material">
                  <!-- new design -->
                  <div class="form-body">
                    <div *ngIf="extintorSeleccionados" class="row">
                      <div class="col-md-12 b-r">

                        <div class="row">
                          <div class="col-md-6">
                            <label for="exampleInputuname3" class="control-label">
                              Imagen del Pdf:
                            </label>
                          </div>
                          <div class="col-md-6">
                            <div class="avatar-upload">
                              <div class="avatar-edit">
                                <input
                                  (change)="cambiarImagen($event)"
                                  class="input-img"
                                  type="file"
                                  id="imageUpload"
                                  accept=".png, .jpg, .jpeg"
                                />
                                <label class="label-img" for="imageUpload"></label>
                                <a
                                  *ngIf="imagenSubir != undefined"
                                  (click)="removeData()"
                                  class="lbl-remove"
                                ></a>
                              </div>
                              <div class="avatar-preview">
                                <div
                                  id="imagePreview"
                                  style="background-image: url({{imgViene}});"
                                >
                                <!-- <div class="preloadPosition text-center font-medium text-light">
                                  Subiendo imagen
                                  <span class="throbber-loader"></span>
                                </div> -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- end input -->
                      </div>
                    </div>
                    <!--  -->
                    <!-- id_SysExt -->
                    <div class="row">
                      <div class="col-md-12 b-r">
                        <div class="form-group">
                          <label for="exampleInputuname3" class="control-label">Id externo:</label>
                          <input formControlName="identificadorSysExt"
                                  type="text"
                                  class="form-control" id="exampleInputuname3" placeholder="">
                        </div>
                      </div>
                    </div>
                    <!--  -->
                    <div class="row">
                      <div class="col-md-12 b-r">
                        <div class="form-group">
                          <label for="exampleInputuname3" class="control-label">Numero de Serie:</label>
                          <input formControlName="numeroSerie"
                                  type="text"
                                  class="form-control" id="exampleInputuname3" placeholder="">
                        </div>
                      </div>
                    </div>
                    <!--  -->
                    <div class="row">
                      <div class="col-md-12 b-r">
                        <div class="form-group">
                          <label for="exampleInputEmail3" class="control-label">Marca:</label>
                          <input formControlName="marca"
                                type="text" class="form-control" id="exampleInputEmail3" placeholder="">
                        </div>
                      </div>
                    </div>
                    <!--  -->
                    <div class="row">
                      <div class="col-md-12 b-r">
                        <div class="form-group">
                          <label for="inputPassword4" class="control-label">Agente Extintor:</label>
                          <input formControlName="agenteExtintor"
                          type="text" class="form-control" id="exampleInputpwd4" placeholder="">
                        </div>
                      </div>
                    </div>
                    <!--  -->
                    <div class="row">
                      <div class="col-md-12 b-r">
                        <div class="form-group">
                          <label for="inputPassword5" class="control-label">Capacidad:</label>
                          <input formControlName="capacidad"
                          type="text" class="form-control" id="exampleInputpwd5" placeholder="">
                        </div>
                      </div>
                    </div>
                    <!--  -->
                    <div class="row">
                      <div class="col-md-12 b-r">
                        <div class="form-group">
                          <label for="inputPassword5" class="control-label">Empresa:</label>
                          <div class="input-group">
                            <select formControlName="empresa" class="form-control custom-select" data-placeholder="Selecciona una" tabindex="1">
                              <option value="">Seleccione una</option>
                              <option
                                *ngFor="let empresa of empresas"
                                [value]="empresa._id"
                              >
                                {{empresa.nombre}}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--  -->
                  </div>
                  <div class="row justify-content-center pt-3">
                    <div class="col-md-12">
                      <div class="form-group text-center m-b-0">
                        <button [disabled]="extintorForm.invalid"
                        type="submit" class="btn btn-success waves-effect waves-light">Guardar Cambios</button>

                      </div>
                    </div>
                  </div>
                  <!-- end design -->

              </form>
            </div>
            <div *ngIf="!ifIsNew" class="col-md-6">
              <div *ngIf="!empresaSeleccionados" class="">
                <div role="alert" class="alert alert-info text-center">
                  <h4 class="alert-heading">Cargando</h4>
                  <i class="fa fa-spin fa-refresh fa-2x"></i>
                  <p class="mb-0">Por favor espere</p>
                </div>
              </div>
              <div *ngIf="empresaSeleccionados" class="row">
                <div class="col-md-12">
                  <h4 class="card-title text-capitalize">Empresa : {{empresaSeleccionados!.nombre}}</h4>
                  <hr>
                  <div class="text-center justify-content-center">
                  </div>
                  <div class="row sm-text-center">
                    <div class="col-md-4 pb2">
                      <img [src]="empresaSeleccionados?.img! | imagen:'empresas'"
                      class="img-responsive imgMob rounded " alt="">
                    </div>
                    <div class="col-md-8">
                      <span class="text-capitalize">
                        Locaidad: {{empresaSeleccionados!.localidad}}
                      </span>
                      <br>
                      <span class="text-capitalize">
                        Direccion: {{empresaSeleccionados!.direccion}}
                      </span>
                      <br>
                      <span class="text-capitalize">
                        Extintores: {{empresaSeleccionados!.nroExtintores}}
                      </span>
                    </div>
                  </div>
                </div>
                <div>
                  <div *ngIf="!extintorSeleccionados" class="">
                    <div role="alert" class="alert alert-info text-center">
                      <h4 class="alert-heading">Cargando</h4>
                      <i class="fa fa-spin fa-refresh fa-2x"></i>
                      <p class="mb-0">Por favor espere</p>
                    </div>
                  </div>
                  <div *ngIf="extintorSeleccionados" class="col-md-12 pt-5">
                    <h4 class="card-title">Qr del extintor seleccionado</h4>
                    <div class="text-center">
                      <ngx-qrcode
                        [elementType]="elementType"
                        [value]="value"
                        qrc-class="aclass"
                        [errorCorrectionLevel]="errorCorrectionLevel" >
                      </ngx-qrcode>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>


</div>
